.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.credentials
.server
tmcrstudioaddin.Rcheck
tmcRtestrunner.Rcheck/
tmcrstudioaddin/test_downloads/
tmcrstudioaddin/tests/testthat/resources/downloaded_exercises/
*~
.*swp
.*swo
