exportPattern("^[[:alpha:]]+")

import(shiny)
import(miniUI)
import(httr)
import(rstudioapi)
importFrom(jsonlite, unbox)
importFrom(shinyjs, hide, hidden, disable, enable, show)
import(mockery)
importFrom(stats, setNames)
importFrom(utils, str, tar, untar, unzip, zip)
